.primer{
    border-radius: 12px;
    background-color: #e7e7e7;
    font-family: "Roboto", sans-serif;
    background: radial-gradient(
    ellipse at top,
    #f0fdfa 0%,
    #ccfbf1 30%,
    #99f6e4 70%
  );
}
*{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}
header{
    display: flex;
    justify-content: center;
    gap: 2%
}
body{
    background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 30%,
    rgba(255, 255, 255, 0.01) 70%
  );
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);

  
}
img{
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: #10b981;
    display: flex;
}
a:hover { 
    color: #0ef0b5;
    font-size: 18px; 
}
body.dark-theme {
  background-color: #1a1a1a;
  color: #e0e0e0;
}
.change-theme{
    border-radius: 6px;
    background-color: #f9fafb;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.change-theme:hover{
    transform: scale(1.05);
    background: #d1d5db;
    border-color: #d1d5db;
}
.primer:hover{
    transform: scale(1.05);
    

}












